

.landing-button {
  float: right;
  display: inline-block;
  background-color: #2fd464;
  border-radius: 7px;
  border:none;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.landing-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-weight: 700;
}

.landing-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.landing-button:hover span {
  padding-right: 25px;
}

.landing-button:hover span:after {
  opacity: 1;
  right: 0;
}