div {
	display: block;
}

.track {
	height: 60px;
	padding: 5px 0;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
}



.container-track {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1090px;
	margin: 0 auto;
	box-sizing: border-box;
	border-top: 1px solid #5e5d5d;

}

.chart-table-position {
	display: block;
	color: #5e5d5d;
	font: 25px/40px Trebuchet MS;
	margin: 8px 20px 0 0;
	margin-left: 40px;
    float: left;
    font-weight: 800;
}

.chart-table-artist {
	color: #5e5d5d;
	display: block;
	float: right;
    line-height: 40px;
    padding: 0 0 0 10px;
    cursor: default;
    font: 20px/40px Trebuchet MS;
    margin: 0;
    font-weight: 400;
}

.chart-table-track {
	display: block;
    line-height: 40px;
    padding: 8px 0 0 43px;
    cursor: default;
    float: left;
    font: 20px/40px Trebuchet MS;
    margin: 0;
    font-weight: 800;
}

.chart-table-streamstats {
	display: block;
	color: #5e5d5d;
    line-height: 40px;
    padding: 8px 0 0 972px;
    cursor: default;
    font: 20px/40px Trebuchet MS;
    position: relative;
}

