div {
	display: block;
}

.track {
	height: 60px;
	padding: 5px 0;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
}



.container-track {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1090px;
	margin: 0 auto;
	box-sizing: border-box;
	border-top: 1px solid #5e5d5d;

}

.chart-table-rank {
	display: block;
	color: #5e5d5d;
	font: 25px/0 Trebuchet MS;
	margin: 0 900px 0 0;
	padding: 0 0 0 0;
	margin-left: 40px;
    /*float: left;*/
    font-weight: 800;
    line-height: 5px;
    text-align: center;
}

.chart-table-followers {
	color: #5e5d5d;
	display: block;
	/*float: right;*/
    /*line-height: 40px;*/
    padding: 0 132px 0 10px;
    cursor: default;
    font: 20px/0px Trebuchet MS;
    /*margin-left: 760px;*/
    font-weight: 400;
    text-align: right;
}

.chart-table-artist {
	display: block;
    /*line-height: 40px;*/
    padding: 0 0 0 125px;
    cursor: default;
    /*float: left;*/
    font: 20px/0px Trebuchet MS;
    margin: 0;
    font-weight: 800;
}

.chart-table-popularity {
	display: block;
	color: #5e5d5d;
    padding-left: 972px;
    cursor: default;
    font: 20px Trebuchet MS;
    line-height: 0px;
    position: relative;
}
a.trackBar {
	color: white;
}