.search-box {
	padding: 5px 25px 0 0;
}

input {
	height: 36px;
	width: 175px;
	font-size: 20px;
	border-radius: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    /*text-align: center;*/
}