#content {
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}

body {
	background-image: url("https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: fixed;
}

.results-page-back {
	/*background-image: ;*/
	background: #181717;
}